@import url('https://fonts.googleapis.com/css?family=Cinzel');

/*-------------
General Styling
-------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding 0;
  font-family: 'Cinzel', serif;

}


/*------------------
Head Section Styling
------------------*/



h1 {
  margin-top: .8em;
  margin-bottom: 0.2em;
}

.section {
  padding: 1em 0;
}


.title {
  width: 100%;
  padding: .7em 0;
  text-align: center;
  color: white;
  font-size: 3em;
  background-color: #0D0548;
}

.wrap {
  width: 100%;
  min-height: calc(100vh - 92px);
}

/*-----------------------
Container Section Styling
-----------------------*/

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;

}

.container__sub-information {
  color: gray;
}

.container__hr-double {
  border: 2px solid #0D0548;
  margin-top: 1.875em;

}

.container__hr-single {
  border: 1px solid #0D0548;
  margin-top: 2px;
}

/*----------
Form Styling
----------*/

.form {
  margin: 1.25em 0;
  text-align: left;
}

.form__legend {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  display: block;
}

.form__label {
  font-size: 1.2em;
  padding: 0;
  margin-top: 1em;
  margin-bottom: .5em;
  display: block;
  color: gray;
}

.form__fieldset,
.form__input,
.textarea {
  border: none;
}

/* to align the text of the placeholder inside the input to left! in IE11 (and maybe less) */
:-ms-input-placeholder {
  text-align: right;
}

::-webkit-input-placeholder { /* WebKit browsers */
    direction: rtl;
    color: gray;
}

::placeholder {
  text-align: right;
  padding-right: .8em;
  font-style: italic;
}


.form__select {
  color: black;
  border: none;
}

.select__option {
  padding-right: .8em;
}

.form__select {
  color: black;
}

input[type="text"],
input[type="email"],
input[type="tel"],
.form__select {
  width: 100%;
  border-radius: 5px;
  background-color: #87C7DE;
  padding: 1.1em .8em;
}

input[class="form__input--half"] {
  width: 50%;
  border-radius: 5px;
  background-color: #87C7DE;
  padding: 1.1em .8em;
  border: none;
}

input[class="form__input--inline"] {
  display: inline-block;
  margin: 1em 1.5em 1em 0;
}

input[type="checkbox"],
input[type="radio"] {
  background: white;
}


label[class="form__label--inline"] {
  display: inline-block;
  padding: .5em 0 .5em 0;
  vertical-align: baseline;
}

.textarea {
  width: 100%;
  height: 150px;
  resize: none;
  background-color: #87C7DE;
  border-radius: .5em;
  padding: .8em;
}

label[for="otherTopic"] {
  margin-bottom: 1em;
}

input[type="submit"] {
  margin: 2em 0 0;
  width: 100%;
  height: 80px;
  background-color: #0D0548;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

.footer {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  margin-top: -20px;
  color: gray;
  text-align: center;
  font-size: large;
  padding: 0 0 15em;
}

/*------------------------
On focus and hover styling
------------------------*/

:focus {
    outline: none;

    /* transition for boxshadow */
    transition: box-shadow 1s;
    -webkit-transition: box-shadow 1s;
    -ms-transition: box-shadow 1s;

    /* transition for background color */
    transition: background-color 2s;
    -webkit-transition: background-color 2s;
    -ms-transition: background-color 2s;
  }



input:focus::-webkit-input-placeholder {
    transition: color 2s;
    color: white;
}


input:focus:-moz-placeholder {
  transition: color 2s;
  color: white;
}

input:focus,
textarea:focus {
  box-shadow: 0 2px 5px #0D0548;
  background-color: #009BD6;
  color: white;
}

@media (min-width: 768px) {

  .container {
    max-width: 1024px;
  }

  .left {
    display: inline-block;
    float:left;
    width: 25%;
  }

  input[class="form__input"],
  .form__select {
    margin-bottom: 1.5em;
  }

  .form__input {
    display: inline-block;
    float: left;
  }

/* generally .clearfix is not needed here in this project but shows error in safari 5.1 */
  .clearfix {
    content: "";
    display: table;
    clear: both;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  .form__select {
    width: 75%;
    display: inline-block;
  }

  #zip-code {
    display: inline-block;
    float: left;
    width: 25%;
  }

  #state {
    -webkit-padding-top: 0;
  }


  .form__select {
    -webkit-margin: 0;
  }


  .form__legend {
    display: inline-block;
    padding-top: 1.2em;
  }

  .title {
    font-size: 2em;
    margin-bottom: 1em;
  }

}
